/*
Syntax error: Invalid CSS after "}": expected "}", was ""
        on line 26 of sass/nav.scss

21: 		&:first-child {margin-left :0;}
22: 		}
23: 		a{
24: 		 &:hover { color :$secondary-color;
25: 		}
26: }

Backtrace:
sass/nav.scss:26
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/scss/parser.rb:1149:in `expected'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/scss/parser.rb:1085:in `expected'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/scss/parser.rb:1080:in `tok!'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/scss/parser.rb:536:in `block'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/scss/parser.rb:529:in `ruleset'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/scss/parser.rb:553:in `block_child'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/scss/parser.rb:546:in `block_contents'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/scss/parser.rb:82:in `stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/scss/parser.rb:27:in `parse'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/engine.rb:342:in `_to_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/engine.rb:315:in `_render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/engine.rb:262:in `render'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/lib/sass/plugin/compiler.rb:283:in `block in watch'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/vendor/listen/lib/listen/multi_listener.rb:108:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/vendor/listen/lib/listen/multi_listener.rb:108:in `on_change'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/vendor/listen/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/vendor/listen/lib/listen/adapters/polling.rb:56:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/vendor/listen/lib/listen/adapters/polling.rb:56:in `poll'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.2.13/vendor/listen/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"}\": expected \"}\", was \"\"\A         on line 26 of sass/nav.scss\A \A 21: 		&:first-child {margin-left :0;}\A 22: 		}\A 23: 		a{\A 24: 		 &:hover { color :$secondary-color;\A 25: 		}\A 26: }"; }
