$large-screen : 45em;

@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
nav {
	border: 2px solid yellow;
 
	@media (min-width:$large-screen){
		ul {
		font-size :30px;
		@include clearfix;
		}
		li {
		float :left;
		margin-left: 1em;
		/*&:first-child {margin-left :0;}*/
		}
		a{
		 &:hover { color :$secondary-color;}
		}

		}
		}