	
$primary-font : Arial, sans-serif;
$primary-color : green;
$secondary-color : blue;
$extra-color : green;

/* test mixin is used to pump out a red outline around the object */
@mixin test(){
 outline: 1px solid red;
}
	
@mixin border-radius($radius){
	-webkit-border-radius : $radius;
	-moz-border-radious: $radius;
	-ms-border-radius: $radius;
	border-radius: $radius;

}	
	
	body {
		padding : 0;
		margin : 0;
		font-family: $primary-font;
		width: 800px;
		@include test;
		margin: 0 auto;
		}
	
	h1 {
		border : 1px solid $primary-color;
		}
		
	h2 { 
		border : 1px solid green;
		}
	
	h3 { 
		border : 1px solid blue;
		}
	
/* main navigation */
@import 'nav';

/* footer */
@import 'footer';